
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GOPI ANALYSIS SYSTEM</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>


<body>
 <div calss="login" style="font-size: 36px">
    <h1>Predict salary analysis</h1>
    
    <form action="{{url_for('predict')}}"method="post">
        <input type="text" style="font-size: 26px" name="Experience " placeholder="Experience" required="required" />
        <input type="text" style="font-size: 26px" name="Test_score" placeholder="Test Score" required="required" />
        <input type="text" style="font-size: 26px" name="interview_score" placeholder="Interview Score" required="required" />
        
        <button type="submit" style="font-size: 26px" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    
    <br>
    <br>
    {{ prediction_text }}
 </div>

</body>
</html>     